:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  --header-height: 30px;
  --footer-height: 26px;
  --header-bg-color: rgb(236, 236, 236);
  --footer-bg-color: rgb(236, 236, 236);
}

/* 모든 요소와 가상 요소에 box-sizing을 설정 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  contain: paint;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--header-height);
  background-color: var(--header-bg-color);
}

main {
  padding-top: var(--header-height);
  width: 100vw;
  height: calc(100vh - var(--footer-height));
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: var(--footer-height);
  background-color: var(--footer-bg-color);
}

#app {
  margin: 0 auto;
  padding: 0;
}
